.navbar {
    width           : 100vw;
    height          : 136px;
    background-color: #ffffff;
    border-bottom   : 1px solid #cfcfcf;
    display         : flex;
    align-items     : center;
}

.container {
    display        : flex;
    justify-content: space-between; /* Tách trái và phải */
    align-items    : center;
    width          : 100%;
    padding        : 0 40px; /* căn lề trái phải */
}

/* ---- LEFT ---- */
.text-title {
    font-family   : 'inter', sans-serif;
    font-weight   : 700;
    font-size     : 36px;
    line-height   : 100%;
    color         : #0088ff;
    margin-right  : 30px;
}

.search-box {
    width        : 273px;
    height       : 42px;
    border-radius: 24px;
    border       : 2px solid #0088ff;
    display      : flex;
    align-items  : center;
    padding-left : 10px;
}

.search {
    width : 32px;
    height: 32px;
}

/* ---- RIGHT ---- */
.right-section {
    display     : flex;
    align-items : center;
    gap         : 20px;
}

.user-box {
    display    : flex;
    align-items: center;
    gap        : 10px;
}

.user-img img {
    width : 64px;
    height: 64px;
}

.name {
    font-weight   : 700;
    font-size     : 16px;
    font-family   : 'inter', sans-serif;
}

.b-admin {
    border          : 1px solid #febc2f;
    border-radius   : 14px;
    background-color: #febc2f;
    display         : flex;
    justify-content : center;
    align-items     : center;
    padding         : 2px 10px;
}

.admin-txt {
    font-family: 'inter', sans-serif;
    font-weight: 700;
    font-size  : 12px;
    color      : #ffffff;
}

/* line ngăn cách */
.line {
    height     : 64px;
    border-left: 1px solid #cfcfcf;
}

/* menu icons */
.box-menu {
    display    : flex;
    gap        : 20px;
    align-items: center;
}

.box-menu img {
    width : 32px;
    height: 32px;
}
